<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/animation.css">
  <link rel="stylesheet" href="../css/estilos.css">
  <link rel="stylesheet" href="../css/mobile.css">
  <link rel="stylesheet" href="../css/grid.css">
  <link rel="stylesheet" href="../css/faqs.css">

  <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
  <link rel="manifest" href="../site.webmanifest">
  <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>Faqs</title>

</head>
<!--cierre de head -->

<body>
  <nav class="nav fadeInDown">
    <a href="../index.html"><img src="../images/storecatsr.png" alt="Logo"></a>
    <div class="brand_image">

    </div>
    <div class="nav_options">
      <!-- <div class="option">Faqs</div>
       <div class="option">Producto y descripcion</div> -->
      <ul>
        <li><a href="faqs.html">Faqs</a></li>
        <li><a href="producto.html">Productos</a></li>
      </ul>
    </div>
  </nav>
  <!-- Aqui acaba el navbar -->
  <section class="faqs">
    <div class="faqs_container">
      <h1>Preguntas Frecuentes</h1>
      <div class="faqs_content">
        <div class="faqs_QA">
          <h2>Que tan suaves estan?</h2>
          <p>Tienen un pelaje especial, estos ejemplares nunca an tocado el agua.</p>
        </div>
        <div class="faqs_QA">
          <h2>Que tan cariñosos son?</h2>
          <p>Son demaciado cariñosos son de un criadero especial y muy concentidos.</p>
        </div>
        <div class="faqs_QA">
          <h2>Como se comportan con los niños?</h2>
          <p>Estos animales adoran los niños, no se conoce de una mala actitud de estos felinos.</p>
        </div>
        <div class="faqs_QA">
          <h2>Que hacen en las noches?</h2>
          <p>Estos gatitos se adatan muy facil al ritmo de vida de sus dueños, pueden ser unos normilones o unos
            guardianes de la casa.</p>
        </div>
        <div class="faqs_QA">
          <h2>De que se alimentan?</h2>
          <p>Lo recomendable es sumunistrarles un concentrado especial para garantizar una buena salud fisica y mental.
          </p>
        </div>
        <div class="faqs_QA">
          <h2>Que tan aseados son?</h2>
          <p>Todos los gatitos de esta tienda estan certificados con las normas de urbanidad felina.</p>
        </div>
        <div class="faqs_QA">
          <h2>Que tan caceros son?</h2>
          <p>Son gatitos 100% caceros y garantizados</p>
        </div>
        <div class="faqs_QA">
          <h2>Donde depositan sus heces?</h2>
          <p>Estos ejemplares desde que nacen se le enseña a depositar sus heces en un cajon de arena.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Aqui acaba el formulario venta -->
  <footer class="footer">
    <div class="option">Terminos y condiciones</div>
    <div class="option contact"><a href="malito:jorgevel@gmail.com">jorgevel@gmail.com</a></div>
  </footer>
  <!-- Aqui acaba footer -->
</body>
<script type="text/javascript" src="scripts/script.js"></script>

</html>