<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/animation.css">
  <link rel="stylesheet" href="../css/estilos.css">
  <link rel="stylesheet" href="../css/mobile.css">
  <link rel="stylesheet" href="../css/grid.css">
  <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
  <link rel="manifest" href="../site.webmanifest">
  <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>StoreCats</title>
</head>

<body>
  <!--Aqui inicia el vavbar-->
  <nav class="fadeInDown">
    <a href="../index.html"><img src="../images/storecatsr.png" alt="Logo"></a>
    <ul>
      <li><a href="faqs.html">Faqs</a></li>
      <li><a href="producto.html">Producto</a></li>

    </ul>
  </nav>
  <!-- Aqui finaliza el vavbar -->
  <div class="container fadeIn">
    <br>
    <h2>Productos y descripción</h2>

    <div class="row">
      <div class="col-4">
        <img src="../images/gato1.jpg" alt="">
      </div>
      <div class="col-8">
        <h3>Producto Genial</h3>
        Gatitos cariñosos en todos los colores y presentaciones.
      </div>
    </div>
    <div class="row">
      <div class="col-4 ">
        <img src="../images/gato2.jpg" alt="">
      </div>
      <div class="col-8">
        <h3>Producto Impresionantes</h3>
        Gatito con ojos azules, mirada penetrante y con mucho estilo.
      </div>
      <!-- <div class="col-4 no-mobile">
        <img src="images/gato2.jpg" alt="">
      </div> -->
    </div>
    <div class="row">
      <div class="col-4">
        <img src="../images/gato3.jpeg" alt="">
      </div>
      <div class="col-8">
        <h3>Producto Suavecito</h3>
        Gatito persa muy concentido y con excelentes modales.
      </div>
    </div>
  </div>

  <!--Inicia footer -->
  <footer>
    <div class="option">Terminos y condiciones</div>
    <div class="option">jorgevel@gmail.com</div>
  </footer>
  <!--Termina footer -->

  <!-- Script -->

  <script src="js/index.js"></script>
</body>

</html>