<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/animation.css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/estilos.css">
  <link rel="stylesheet" href="../css/mobile.css">
  <link rel="stylesheet" href="../css/grid.css">

  <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
  <link rel="manifest" href="../site.webmanifest">
  <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>StoreCats</title>
</head>

<body>
  <!--Aqui inicia el vavbar-->
  <nav class="fadeInDown">
    <a href="index.html"><img src="../images/storecatsr.png" alt="Logo"></a>
    <ul>
      <li><a href="faqs.html">Faqs</a></li>
      <li><a href="producto.html">Producto</a></li>
      <li><a href="#menciones">Mensiones</a></li>
    </ul>
  </nav>
  <!-- Aqui finaliza el vavbar -->

  <!-- Empieza formulario venta -->
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="modulo_pago">
          <div class="modulo_pago_images">
            <img src="../images/gatocaja1.jpg" alt="gatitos">
          </div>

          <h3>
            Producto 1
          </h3>
          <p>Miles de productos hay en el mercado, pero nada como una caja con gatitos pintados.</p>
        </div>
      </div>
      <div class="col-8">
        <div class="modulo_pago">
          <!--          <form action="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=WBQEXULTEBRDL" method="POST" class="modulo-de-pago"> -->
          <form action="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=WKV3F5LVLSL92"
            method="POST" class="modulo-de-pago">
            <!--  <label for="name">Nombre</label> -->
            <br>
            <input type="text" placeholder="Nombre" name="name" class="data" required>
            <br>
            <!--  <label for="email">E-mail</label> -->
            <br>
            <input type="text" placeholder="Email" name="email" class="data" required>
            <br>
            <!--  <label for="phone">Telefono</label> -->
            <br>
            <input type="text" placeholder="Telefono" name="phone" class="data" required>
            <input type="submit" class="main_btn" name="submit" value="Confirmar pago">
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>



  <!-- Termina formulario venta -->

  <!--Inicia footer -->
  <footer>
    <div class="option">Terminos y condiciones</div>
    <div class="option">jorgevel@gmail.com</div>
  </footer>
  <!--Termina footer -->

  <!-- Script -->

  <script src="js/index.js"></script>
</body>

</html>